.wrapper {
  max-width: 500px;
  margin: 5px auto;
  padding: 12px;
}

.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li {
  display: flex;
  align-items: center;
}

li:hover {
  background: rgba(0, 0, 0, 0.01);
}

li>label[for='todo'] {
  flex: 1;
}
